$black: #00100B;
$blue: #14BDEB;
$white: #DCCDE8;
$red: #CC3F0C;
$purple: #B37BA4;

$bs-padding: 10px;
$bs-margin: 10px;

$bs-font-size: 14px;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);