.container-wrapper {
    margin: $bs-margin * 4 0;
}

.container {
    margin: 0 auto;
    padding: $bs-padding;
    width: 100%;
}

@each $key, $value in $breakpoints{
    .container-#{$key}{
        @extend .container;
        max-width: $value;
    }
}